<div class="body-wrapper">
    <div class="container-fluid">
        <div class="row header-row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h1>Nos partenaires</h1>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 search-engine">
                <input ng-model="search.name" placeholder="Rechercher">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 partner" ng-repeat="partner in partners | filter:search">
                <div class="partner-logo">
                    <img ng-src="{{ ceten.cdn(partner.logo) }}" ng-if="partner.logo">
                    <img ng-src="{{ ceten.cdn('/assets/images/logo/ceten-icon-100x100.png') }}" ng-if="! partner.logo">
                </div>
                <div class="partner-content">
                    <h2>{{ partner.name }}</h2>
                    <a href="http://{{ partner.website }}" target="_blank">{{ partner.website }}</a>
                </div>
            </div>
        </div>
    </div>
</div>