<div class="product-detail" ng-if="product">
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs col-sm-6 no-padding">
                <div class="product-slider">

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 product-info">
                <h1>{{ product.name }}</h1>

                <div class="product-description" ng-bind-html="product.description | nl2br"></div>
                
                <div ng-if="product.stock > 0" class="product-order">
                    <div class="row">
                        <div class=" col-xs-6 no-padding">
                            <div class="product-amount">
                                <a href="">{{ amount }}</a>
                                <ul class="dropdown">
                                    <li ng-repeat="i in ceten.range(1, ceten.maxStock(product))">
                                        <a ng-click="setAmount(i)">{{ i }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 no-padding">
                            <a class="product-price" ng-click="ceten.cart.add(product, amount)">{{ ceten.price(product) }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>