/cdn.ceten.fr/uploads/*
/boutique.ceten.fr/web/bundles/
/boutique.ceten.fr/app/bootstrap.php.cache
/boutique.ceten.fr/app/cache/*
/boutique.ceten.fr/app/config/parameters.yml
/boutique.ceten.fr/app/logs/*
!boutique.ceten.frapp/cache/.gitkeep
!boutique.ceten.frapp/logs/.gitkeep
/cdn.ceten.fr/assets/bower_components/
/dashboard.ceten.fr/web/bundles/
/dashboard.ceten.fr/app/bootstrap.php.cache
/dashboard.ceten.fr/app/cache/*
/dashboard.ceten.fr/app/config/parameters.yml
/dashboard.ceten.fr/app/logs/*
!dashboard.ceten.frapp/cache/.gitkeep
!dashboard.ceten.frapp/logs/.gitkeep
/oauth.ceten.fr/web/bundles/
/oauth.ceten.fr/app/bootstrap.php.cache
/oauth.ceten.fr/app/cache/*
/oauth.ceten.fr/app/config/parameters.yml
/oauth.ceten.fr/app/logs/*
!oauth.ceten.frapp/cache/.gitkeep
!oauth.ceten.frapp/logs/.gitkeep
/build/
/vendor/
/oauth.ceten.fr/bin/
/composer.phar
/env.yml