/cdn.ceten.fr/web/uploads/*
/cdn.ceten.fr/assets/bower_components/
/boutique.ceten.fr/web/bundles/
/boutique.ceten.fr/app/bootstrap.php.cache
/boutique.ceten.fr/app/cache/*
/boutique.ceten.fr/app/config/parameters.yml
/boutique.ceten.fr/app/logs/*
!boutique.ceten.fr/app/cache/.gitkeep
!boutique.ceten.fr/app/logs/.gitkeep
/dashboard.ceten.fr/web/bundles/
/dashboard.ceten.fr/app/bootstrap.php.cache
/dashboard.ceten.fr/app/cache/*
/dashboard.ceten.fr/app/config/parameters.yml
/dashboard.ceten.fr/app/logs/*
!dashboard.ceten.fr/app/cache/.gitkeep
!dashboard.ceten.fr/app/logs/.gitkeep
/oauth.ceten.fr/web/bundles/
/oauth.ceten.fr/app/bootstrap.php.cache
/oauth.ceten.fr/app/cache/*
/oauth.ceten.fr/app/config/parameters.yml
/oauth.ceten.fr/app/logs/*
!oauth.ceten.fr/app/cache/.gitkeep
!oauth.ceten.fr/app/logs/.gitkeep
/www.ceten.fr/web/bundles/
/www.ceten.fr/app/bootstrap.php.cache
/www.ceten.fr/app/cache/*
/www.ceten.fr/app/config/parameters.yml
/www.ceten.fr/app/logs/*
!www.ceten.fr/app/cache/.gitkeep
!www.ceten.fr/app/logs/.gitkeep
/build/
/vendor/
/oauth.ceten.fr/bin/
/composer.phar
/env.yml