<div class="nav-bottom">
    <h1>Mes commandes</h1>
</div>

<div class="body-wrapper order-list">
    <div class="container-fluid">
        <div class="row order-header">
            <div class="col-xs-3">Date</div>
            <div class="col-xs-3">État</div>
            <div class="col-xs-3">Paiement</div>
            <div class="col-xs-3">Prix</div>
        </div>
        
        <div class="row order" ng-repeat="order in orders">
            <div class="col-xs-3">{{ date(order.created) }}</div>
            <div class="col-xs-3">{{ states[order.state] }}</div>
            <div class="col-xs-3">{{ payments[order.payment] }}</div>
            <div class="col-xs-3">{{ order.total.toFixed(2) }} €</div>
        </div>
    </div>
</div>