html, body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 80px;
    background: #e9e9e9;
    line-height: 1.5;
    color: #222222;
}

a {
    color: #6c2466;
    cursor: pointer;
}

a:hover {
    color: #451041;
}

.wrapper {
    min-height: 100%;
    width: 100%;
}

.body-wrapper {
    padding-bottom: 50px;
    min-height: 100%;
    width: 100%;
}

.text-center {
    text-align: center;
}


/**
 * Products
 */
.row .no-padding {
    padding: 0;
}

.product-list .product {
    width: 100%;
    position: relative;
}

.product-list .product:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.product-list .product .product-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.product-list .product .product-image img {
    width: 100%;
    height: auto;
}

.product-list .product .product-info {
    position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
}

.product-list .product .product-info a.product-price,
.product-list .product .product-info a.product-price:hover,
.product-list .product .product-info a.product-detail,
.product-list .product .product-info a.product-detail:hover,
.nav-bottom ul li a,
.nav-bottom ul li a:hover,
.product-detail a.product-price,
.product-detail a.product-price:hover {
    color: #ffffff;
    text-decoration: none;
}

.product-list .product .product-info a.product-price,
.product-list .product .product-info a.product-detail {
    display: block;
    height: 50px;
    padding: 0 15px;
}

.product-list .product .product-info a.product-price {
    float: right;
    width: 120px;
    text-align: right;
    background-position: 15px 17px;
    padding-left: 46px;
}

.product-list .product .product-info a.product-detail {
    margin-right: 120px;
}

.product-list .product .product-info a.product-price:hover,
.product-list .product .product-info a.product-detail:hover {
    background-color: rgba(0, 0, 0, .4);
}


.product-detail .product-slider {
    width: 100%;
    position: relative;
}

.product-detail .product-slider:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.product-detail a.product-price,
.product-detail .product-description {
    margin-bottom: 15px;
}

.product-detail a.product-price {
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #6c2466;
    background-position: 10px 7px;
    padding-left: 36px;
}

.product-detail a.product-price:hover {
    background-color: #451041;
}

.product-list .product .product-info a.product-price,
.product-detail a.product-price {
    background-image: url(/assets/images/icon/cart.png);
    background-repeat: no-repeat;
}

.product-detail h1 {
    margin: 15px 0 ;
}


/**
 * Tags
 */
.nav-bottom {
    height: 50px;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999997;
}

.nav-bottom h1 {
    padding-left: 15px;
    line-height: 50px;
    height: 50px;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
}

.nav-bottom ul li {
    float: left;
}

.nav-bottom ul li a {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 50px;
    height: 50px; 
}

.nav-bottom ul li a:hover {
    background-color: rgba(0, 0, 0, .8);
}

.nav-bottom .search-box {
    float: right;
}

.nav-bottom .search-box input {
    border: 0;
    background: none;
    width: 300px;
    outline: 0;
    line-height: 50px;
    height: 50px;
    color: #ffffff;
}


/**
 * Cart
 */

.order-list {
    padding-top: 10px;
}

.order-list .order-header,
.order-list .order {
    height: 40px;
    line-height: 40px;
}

.order-list .order-header {
    font-weight: bold;
}

.order-list .order {
    border-top: 1px #000000 solid;
}


.order-list .order .order-amount,
.order-list .order a.order-delete {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.order-list .order .order-amount a,
.order-list .order .order-amount a:hover,
.order-list .order a.order-delete,
.order-list .order a.order-delete:hover {
    color: #222222;
    text-decoration: none;
}

.order-list .order .order-amount a,
.order-list .order a.order-delete {
    padding: 0 15px;
    display: block;
    height: 40px;
}

.order-list .order .order-amount a {
    /* TODO : dropdown icon */
}

.order-list .order .order-amount a:hover,
.order-list .order a.order-delete:hover {
    background-color: rgba(0, 0, 0, .05);
}

.order-list .order .order-amount .dropdown {
    background-color: #e9e9e9;
    display: none;
    position: absolute;
        top: 40px;
        left: 0;
        right: 0;
    z-index: 999;
}

.order-list .order .order-amount:hover .dropdown {
    display: block;
}

/**
 * Angular dialog overrides
 */
body.ngdialog-open {
  overflow: auto;
}