{% extends '::layout.html.twig' %}

{% block title %}{{ tag.name }} {{ parent() }}{% endblock %}

{% block content %}
            <div class="row">
{% for product in tag.products %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    {{ product.name }}
                </div>
{% endfor %}
            </div>
{% endblock %}