<div class="nav-bottom">
    <div class="search-box">
        <input ng-model="search.name" placeholder="Rechercher">
    </div>
    <h1>{{ tag.name }}</h1>
</div>

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="row product-list">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding" ng-repeat="product in tag.products | filter:search">
                <div ng-include="'/partials/product/list.html'"></div>
            </div>
        </div>
    </div>
</div>